/*
 * General
 */
.edssn-center {
    text-align: center;
}

.edssn-big-button {
    width: 200px;
    height: 50px;
    font-size: 1.5em;
}

.edssn-error-messages {
    color: #e9322d;
}

.form-field {
    height: 4em;
}

.last-form-field {
    height: 2.6em;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.edssn-default-container {
    width: 100%;
}

.edssn-default-content {
    width: 100%;
}

.edssn-default-content h1 {
    text-align: center;
}

/*
 * Error Messages
 */
.form-messages {
    margin-top: 1em;
    font-size: 0.9em;
    border-radius: 4px;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 1em;
}

.form-messages.errors {
    width: 300px;
    color: #e9322d;
    background-color: #fbe8e5;
}

.messages-group {
    vertical-align: top;
    padding-top: 0.3em;
}

.access-screen {
    font-size: 0.88em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.edssn-error-icon, .edssn-info-icon, .edssn-success-icon {
    height: 25px;
}

/*
 * Main Page
 */
.edssn-product-column {
    padding: 1em;
}

.edssn-product-column p {
    text-align: center;;
}

.edssn-content-subhead {
    color: #1f8dd6;
    text-align: center;
}

.edssn-content-subhead i {
    margin-right: 7px;
}

/*
 * Header
 */
body {
    padding-top: 150px;
}

.edssn-main-menu {
    padding: 0.6em;
    background: #c1343a;
    font-size: 1.2em;
    text-align: center;
}

.edssn-main-menu a {
    color: #AECFE5;
}

.edssn-menu-link a {
    color: white !important;
}

.edssn-main-menu li a:hover,
.edssn-main-menu li a:focus {
    background: none;
}

/*
 * Sign up
 */
.signup-container button {
    margin-bottom: 1em;
    margin-top: 1em;
}

.edssn-signup-vehicles-grid {
    width: 500px;
    height: 250px;
}

.edssn-signup-vehicles-title {
    font-size: 1.5em;
}

/*
 * Account
 */
.edssn-account-container table {
    margin: 0 auto;
    width: 400px;
}

/*
 * Splash Section Styles
 */
.edssn-splash-screen-container {
    background: #3a61a0;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.edssn-splash {
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
}

.edssn-splash-head {
    font-size: 20px;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

.edssn-splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

/*
 * Content Styles
 */
.edssn-content {
    position: absolute;
    top: 87%;
    left: 0;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
}

.edssn-content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

/*
 * Login
 */
.edssn-login-container {
    width: 100%;
    min-height: 12%;
    z-index: 2;
}

.edssn-login-container fieldset {
    margin-bottom: 1em;
}

/*
 * Footer
 */
.edssn-footer {
    width: 100%;
    height: 60px;
    background: #111;
    color: white
}

/*
 * Admin Users
 */
.edssn-admin-users-container {
    width: 100%;
}

.edssn-admin-users {
    width: 100%;
}

.edssn-admin-users h1 {
    text-align: center;
}

.edssn-admin-users-actions {
    width: 145px;
}

.edssn-admin-users-grid {

}

/*
 * Redeem Points
 */
.edssn-redeem-points-container {
    width: 100%;
}

.edssn-redeem-points {
    width: 100%;
}

.edssn-redeem-points h1 {
    text-align: center;
}

/*
 * Award manager
 */
.edssn-admin-awards-container {
    width: 100%;
}

.edssn-admin-awards {
    width: 100%;
}

.edssn-admin-awards h1 {
    text-align: center;
}

/*
 * About us
 */
.edssn-about-us {
    width: 100%;
}

.edssn-about-us h1 {
    text-align: center;
}

.edssn-about-us img {
    text-align: center;
    margin: 0 auto;
}

.edssn-about-us p {
    text-align: center;
    margin: 0 auto;
}

/*
 * Products
 */
.edssn-site-logo {
    display: block;
    margin: 0 auto;
}

/*
 * Media Queries for Phones and up
 */
@media screen and (min-width: 14em) {
    .login-container {
        max-width: 14em;
        margin: 0 auto;
    }
}

/*
 * Media Queries for tablets and up
 */
@media screen and (min-width: 48em) {
    body {
        font-size: 16px;
    }

    .content {
        padding: 1em;
    }

    .edssn-main-menu ul {
        float: right;
    }

    .edssn-splash {
        width: 50%;
        height: 50%;
    }

    .edssn-default-content {
        width: 80%;
        margin: 0 auto;
    }

    .edssn-admin-users {
        width: 80%;
        margin: 0 auto;
    }

    .edssn-redeem-points {
        width: 80%;
        margin: 0 auto;
    }

    .edssn-splash-head {
        font-size: 250%;
    }

    .edssn-l-box-lrg {
        border: none;
    }

    .container {
        max-width: 48em;
        margin: 0 auto;
    }
}

/*
 * Media Queries for Desktops and up
 */
@media screen and (min-width: 78em) {
    .edssn-splash-head {
        font-size: 300%;
    }
}

/** For angular-ui boostrap (http://angular-ui.github.io/bootstrap/) */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}
