#top_logo {
    float: left;
}

#top_header {
    text-align: center;
    vertical-align: middle;
    padding-top: 40px;
    font-size: 5em;
    color: darkblue;
}

#top_header_login {
    float: right;
}

#boton_cerrar_sesion {
    padding:0;
    background-color:transparent;
    text-decoration:underline;
    border:none;
    border:0;
    color:blue;
    cursor:pointer;
    font-family:inherit;
    font-size:inherit;
}