<div class="edssn-admin-users-container">
    <div class="edssn-admin-users">
        <h1>Administración de Clientes</h1>
        <div>
            <button class="btn btn-success" ng-click="redimirPuntos()" ng-disabled="!selectedItem">Redimir Puntos</button>
            <!--
            <button class="btn btn-primary" ng-click="goToDetailPage()" ng-disabled="!selectedItem">Ver Detalle</button>
            <button class="btn btn-warning" ng-click="edit()" ng-disabled="!selectedItem">Editar</button>
            <button class="btn btn-danger" ng-click="delete()" ng-disabled="!selectedItem">Eliminar</button>
            -->
        </div>
        <div ui-grid="gridOpts" ui-grid-selection></div>
    </div>
</div>