<div class="edssn-login-container">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre de la Campaña</th>
                <th>Número de Puntos</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="awardPoint in awardPoints">
                <td>{{awardPoint.marketingCampaign.name}}</td>
                <td>{{awardPoint.numberOfPoints}}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <h1>Registra tu cupón!</h1>
        <form>
            <input type="text"
                   ng-model="vm.coupon" />
            <button type="button"
                    ng-click="assignCoupon()" >
                Enviar
            </button>
        </form>
    </div>  
</div>
