<splash-header></splash-header>

<div class="edssn-content">
    <div class="content">
        <h2 class="edssn-content-head edssn-center">Nuestros Combustibles - Gasolina Garantizada Exxonmobil</h2>
        <div class="row">
            <div class="edssn-product-column col-xs-12 col-md-6 col-lg-3">

                <h3 class="edssn-content-subhead">
                    <i class="fa fa-motorcycle"></i>
                    <a href="/#/products">Gasolina Corriente Oxigenada</a>
                </h3>
                <img class="img-responsive edssn-site-logo" src="/resources/img/gasolina-corriente-body-sm.jpg"
                     alt="Logo Gasolina Corriente"/>
                <p>
                    Para motores de combustión interna. Tiene un índice antidetonante de 84 (mínimo)
                </p>
            </div>
            <div class="edssn-product-column col-xs-12 col-md-6 col-lg-3">
                <h3 class="edssn-content-subhead">
                    <i class="fa fa-car"></i>
                    <a href="/#/products">Gasolina Extra Oxigenada</a>
                </h3>
                <img class="img-responsive edssn-site-logo" src="/resources/img/gasolina-extra-body-sm.jpg"
                     alt="Logo Gasolina Extra"/>
                <p>
                    Para motores de combustión interna. Tiene un índice antidetonante de 89 (mínimo)
                </p>
            </div>
            <div class="edssn-product-column col-xs-12 col-md-6 col-lg-3">
                <h3 class="edssn-content-subhead">
                    <i class="fa fa-bus"></i>
                    <a href="/#/products">Diesel (ACPM)</a>
                </h3>
                <img class="img-responsive edssn-site-logo" src="/resources/img/diesel-icon-one-body-sm.jpg"
                     alt="Logo Diesel"/>
                <p>
                    Para utilizarse como combustible en motores tipo diesel
                </p>
            </div>
            <div class="edssn-product-column col-xs-12 col-md-6 col-lg-3">
                <h3 class="edssn-content-subhead">
                    <i class="fa fa-truck "></i>
                    <a href="/#/products">Supreme Diesel</a>
                </h3>
                <img class="img-responsive edssn-site-logo" src="/resources/img/supreme-diesel-icon-body-sm.jpg"
                     alt="Logo Supreme Diesel"/>
                <p>
                    Para que usted ahorre y le de un mejor cuidado a su motor ayudando a que recupere la potencia del
                    motor
                    limpiando los inyectores
                </p>
            </div>
        </div>
        <div>
            <img class="edssn-site-logo" src="/resources/img/MobilandPegasus.png" alt="Logo del sitio"/>
        </div>
    </div>
    <main-footer></main-footer>

</div>
