<div class="edssn-default-container">
    <div class="edssn-default-content">
        <h1>Nuestros Productos</h1>
        <img class="edssn-site-logo img-responsive"
             alt="Logo Estación" src="/resources/img/MobilandPegasus.png"/>
        <h2>Combustibles</h2>
        <p>En las estaciones Exxonmobil contamos con el único programa de verificación de combustibles Gasolina
            Garantizada, certificado por
            Icontec, bajo la norma ISO 9001 de 2008.</p>
        <h3>
            Gasolina Corriente
        </h3>
        <div class="row">
            <img class="img-responsive col-xs-1" src="/resources/img/gasolina-corriente-body-sm.jpg"
                 alt="Logo Gasolina Corriente"/>
            <p class="col-xs-11">
                La Gasolina Corriente oxigenada tiene un índice antidetonante de 84 (mínimo). Esta gasolina está
                diseñada para utilizarse en motores de combustión interna de encendido por chispa y de baja relación
                de compresión (menos de 9:1). Para mayor información haz clic <a
                    href="https://www.essoymobil.com.co/es-CO/gasoline" target="_blank">aquí</a>
            </p>
        </div>
        <h3>
            Gasolina Extra
        </h3>
        <div class="row">
            <img class="img-responsive col-xs-1" src="/resources/img/gasolina-extra-body-sm.jpg"
                 alt="Logo Gasolina Extra"/>
            <p class="col-xs-11">
                La Gasolina Extra oxigenada tiene un índice antidetonante de 89 (mínimo). Esta gasolina ha sido
                diseñada para utilizarse en motores de combustión interna de encendido por chispa y de alta relación
                de compresión (mayor de 9:1) y para la mayoría de los motores en cualquier altitud. Para mayor
                información haz clic <a
                    href="https://www.essoymobil.com.co/es-CO/gasoline" target="_blank">aquí</a>
            </p>
        </div>
        <h3>
            Diesel (ACPM)
        </h3>
        <div class="row">
            <img class="img-responsive col-xs-1" src="/resources/img/diesel-icon-one-body-sm.jpg"
                 alt="Logo Diesel"/>
            <p class="col-xs-11">
                El Diesel está diseñado para utilizarse como combustible en motores tipo diesel de automotores de
                trabajo medio y pesado que operan bajo condiciones de alta exigencia en vías y carreteras del país,
                o para generar energía mecánica y eléctrica, y en quemadores de hornos, secadores y calderas. Para
                mayor información haz clic <a
                    href="https://www.essoymobil.com.co/~/link.aspx?_id=894F4224D2A54152B38EEC93465ED83E&_z=z"
                    target="_blank">aquí</a></p>
            </p>
        </div>
        <h3>
            Supreme Diesel
        </h3>
        <div class="row">
            <img class="img-responsive col-xs-1" src="/resources/img/supreme-diesel-icon-body-sm.jpg"
                 alt="Logo Diesel Supreme"/>
            <p class="col-xs-11">Se trata de un combustible con la tecnología más moderna que ayuda a que usted ahorre
                mientras conduce y le da un mejor cuidado a su motor ayudando a que recupere la potencia del motor
                limpiando los inyectores. Supreme Diesel ayuda a mejorar el desempeño del motor y reduce emisiones
                mientras protege su motor de la corrosión para que trabaje con más facilidad y, además,
                optimiza el tanqueo reduciendo la espuma. Para mayor información haz clic <a
                        href="https://www.essoymobil.com.co/~/link.aspx?_id=894F4224D2A54152B38EEC93465ED83E&_z=z"
                        target="_blank">aquí</a></p>
        </div>
        <h2>Lubricantes</h2>
        <h3>Mobil 1</h3>
        <div class="row">
            <img class="img-responsive col-xs-1" src="/resources/img/mobil-one-body-sm.jpg"
                 alt="Logo Mobil 1"/>
            <p class="col-xs-11">
                Mantenga su motor funcionando como nuevo con Mobil 1 – la marca de aceite sintético para motor líder en
                el mundo. Los avanzados aceites para motor totalmente sintéticos, Mobil 1 ofrecen un rendimiento más
                allá de los aceites para motor convencionales, incluyendo protección excepcional contra el desgaste y
                los sedimentos, incluso en condiciones extremas. Para mayor información haz clic <a
                    href="https://www.essoymobil.com.co/es-CO/motor-oil" target="_blank">aquí</a>
            </p>
        </div>
        <h3>Mobil Super</h3>
        <div class="row">
            <img class="img-responsive col-xs-1" src="/resources/img/super-2000-body-sm.jpg"
                 alt="Logo Mobil Super"/>
            <p class="col-xs-11">
                Mobil Super es nuestro aceite convencional premium para motor, diseñado para proporcionar una
                protección contra el desgaste y los sedimentos, ayudando a prolongar la vida del motor. Los aceites para
                motor Mobil Super también contienen aditivos especiales que ayudan a mantener motores limpios. Para
                mayor información haz clic <a
                    href="https://www.essoymobil.com.co/es-CO/motor-oil" target="_blank">aquí</a>
            </p>
        </div>
        <h3>Mobil Delvac 1</h3>
        <div class="row">
            <img class="img-responsive col-xs-1" src="/resources/img/mobil-delvac-one-body-sm.jpg"
                 alt="Logo Mobil Delvac 1"/>
            <p class="col-xs-11">
                Formulado como ningún otro, lubricantes sintéticos Mobil Delvac 1 puede ayudar a prolongar la vida útil
                de los motores, así como a proporcionar una capacidad para optimizar los intervalos entre cambios de
                aceite y una potencial economía en el consumo de combustible en motores diesel modernos que funcionan en
                aplicaciones severas. Confíe su inversión en el liderazgo en tecnología de Mobil Delvac™. Para mayor
                información haz clic <a
                    href="https://www.essoymobil.com.co/es-CO/motor-oil" target="_blank">aquí</a>
            </p>
        </div>
        <h3>Mobil Delvac</h3>
        <div class="row">
            <img class="img-responsive col-xs-1" src="/resources/img/mobil-delvac-body-sm.jpg"
                 alt="Logo Mobil Delvac"/>
            <p class="col-xs-11">
                Formulado como ningún otro, lubricantes sintéticos Mobil Delvac 1™ puede ayudar a prolongar la vida útil
                de los motores, así como a proporcionar una capacidad para optimizar los intervalos entre cambios de
                aceite y una potencial economía en el consumo de combustible en motores diesel modernos que funcionan en
                aplicaciones severas. Confíe su inversión en el liderazgo en tecnología de Mobil Delvac. Para mayor
                información haz clic <a
                    href="https://www.essoymobil.com.co/es-CO/motor-oil" target="_blank">aquí</a>
            </p>
        </div>
    </div>

</div>