<div class="edssn-login-container">
    <div class="signup-container">
        <common-error-messages error-messages="vm.errorMessages" 
                               extra-styles="access-screen">
        </common-error-messages>
        <form name="form" 
              ng-submit="signup()" 
              class="" 
              novalidate>
            <fieldset class="">
                <legend>¿Eres un usuario nuevo?</legend>
                <div class="form-field">                    
                    <input type="text" 
                           name="username"
                           ng-model="vm.username"
                           ng-focus="onFocus('username')" 
                           ng-blur="onBlur('username')"                                    
                           ng-minlength="6" 
                           class="" 
                           placeholder="usuario" 
                           required>

                    <div class="edssn-error-messages" 
                         ng-show="isErrorMessageListVisible('username')" 
                         ng-messages="form.username.$error"
                         ng-cloak>
                        <div ng-message="required">el usuario es requerido</div>
                        <div ng-message="minlength">debe tener mínimo 6 caracteres</div>
                    </div>
                </div>              
                <div class="form-field">
                    <input type="password" 
                           name="password" 
                           ng-model="vm.password" 
                           ng-focus="onFocus('password')" 
                           ng-blur="onBlur('password')"
                           ng-minlength="6" 
                           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                           class="" 
                           placeholder="contraseña"
                           required>

                    <div class="edssn-error-messages" 
                         ng-show="isErrorMessageListVisible('password')" 
                         ng-messages="form.password.$error"
                         ng-cloak>
                        <div ng-message="required">La contraseña es requerida</div>
                        <div ng-message="minlength">debe tener mínimo 6 caracteres</div>
                        <div ng-message="pattern">debe tener al menos un número y una mayúscula</div>
                    </div>
                </div>                
                <div class="form-field">
                    <input type="password" 
                           name="confirmPassword"
                           ng-focus="onFocus('confirmPassword')" 
                           ng-blur="onBlur('confirmPassword')"
                           ng-model="vm.confirmPassword" 
                           ng-minlength="6"
                           check-passwords-match
                           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" 
                           class=""
                           placeholder="vuelve a escribir la contraseña" 
                           required>

                    <div class="edssn-error-messages" 
                         ng-show="isErrorMessageListVisible('confirmPassword')"
                         ng-messages="form.confirmPassword.$error" 
                         ng-cloak>
                        <div ng-message="required">La contraseña es requerida</div>
                        <div ng-message="minlength">debe tener mínimo 6 caracteres</div>
                        <div ng-message="pattern">debe tener al menos un número y una mayúscula</div>
                        <div ng-message="checkPasswordsMatch">las contraseñas deben coincidir</div>
                    </div>
                </div>
                <div class="form-field">
                    <input type="text" 
                           name="nationalId" 
                           ng-model="vm.nationalId" 
                           ng-focus="onFocus('nationalId')" 
                           ng-blur="onBlur('nationalId')"
                           ng-minlength="6" 
                           class="" 
                           placeholder="número de identificación"
                           required>

                    <div class="edssn-error-messages" 
                         ng-show="isErrorMessageListVisible('nationalId')" 
                         ng-messages="form.nationalId.$error"
                         ng-cloak>
                        <div ng-message="required">El número de identificación es requerido</div>
                        <div ng-message="minlength">debe tener mínimo 6 caracteres</div>                                
                    </div>
                </div>
                <div class="form-field">
                    <input type="text" 
                           name="fullName" 
                           ng-model="vm.fullName" 
                           ng-focus="onFocus('fullName')" 
                           ng-blur="onBlur('fullName')"
                           ng-minlength="2"                                    
                           class="" 
                           placeholder="nombre completo"
                           required>

                    <div class="edssn-error-messages" 
                         ng-show="isErrorMessageListVisible('fullName')" 
                         ng-messages="form.fullName.$error"
                         ng-cloak>
                        <div ng-message="required">El nombre completo es requerido</div>
                        <div ng-message="minlength">debe tener mínimo 2 caracteres</div>
                    </div>
                </div>
                <div class="form-field">
                    <input type="email" 
                           name="email"
                           ng-model="vm.email"
                           ng-focus="onFocus('email')" 
                           ng-blur="onBlur('email')"                  
                           class="" 
                           placeholder="e-mail" 
                           required>

                    <div class="edssn-error-messages" 
                         ng-show="isErrorMessageListVisible('email')" 
                         ng-messages="form.email.$error"
                         ng-cloak>
                        <div ng-message="required">El e-mail es requerido</div>
                        <div ng-message="email">debe ser un e-mail válido</div>
                    </div>
                </div>
                <div class="form-field">
                    <input type="text" 
                           name="address" 
                           ng-model="vm.address" 
                           ng-focus="onFocus('address')" 
                           ng-blur="onBlur('address')"
                           ng-minlength="6"                                    
                           class="" 
                           placeholder="dirección">
                    <div class="edssn-error-messages" 
                         ng-show="isErrorMessageListVisible('address')" 
                         ng-messages="form.address.$error"
                         ng-cloak>                                
                        <div ng-message="minlength">debe tener mínimo 6 caracteres</div>
                    </div>
                </div>
                <div class="form-field">
                    <input type="text" 
                           name="contactNumber" 
                           ng-model="vm.contactNumber" 
                           ng-focus="onFocus('contactNumber')" 
                           ng-blur="onBlur('contactNumber')"
                           ng-minlength="7"                                    
                           class="" 
                           placeholder="teléfono">
                    <div class="edssn-error-messages" 
                         ng-show="isErrorMessageListVisible('contactNumber')" 
                         ng-messages="form.contactNumber.$error"
                         ng-cloak>                                
                        <div ng-message="minlength">debe tener mínimo 7 caracteres</div>
                    </div>
                </div>
                <div class="form-field">
                    <input type="text" 
                           name="birthdate"
                           class="form-control" 
                           uib-datepicker-popup="{{dateFormat}}" 
                           ng-model="vm.birthdate" 
                           is-open="birthdatePopup.opened" 
                           datepicker-options="dateOptions" 
                           close-text="{{datePickerCloseText}}" 
                           clear-text="{{datePickerClearText}}"
                           current-text="{{datePickerCurrentText}}"
                           alt-input-formats="altInputFormats" 
                           placeholder="Cumpleaños (dd/mm/aaaa)" 
                           ng-click="openBirthdatePopup()" />
                    <div class="edssn-error-messages" 
                         ng-show="isErrorMessageListVisible('birthdate')" 
                         ng-messages="form.birthdate.$error"
                         ng-cloak>                                
                        <!-- TODO add validations for date -->
                    </div>
                </div>

                <div class="btn-group form-field">
                    <p>Sexo</p>
                    <label ng-repeat="gender in genre"
                           class="btn btn-primary" 
                           ng-model="vm.gender" 
                           uib-btn-radio="'{{gender.value}}'">
                        {{gender.label}}
                    </label>
                </div>
                <div class="edssn-error-messages" 
                     ng-show="isErrorMessageListVisible('gender')" 
                     ng-messages="form.gender.$error"
                     ng-cloak>                                
                    <!-- TODO add validations for gender -->
                </div>


                <div>
                    <h1 class="edssn-signup-vehicles-title">Añade tus vehículos</h1>
                    <div class="form-field">
                        <input id="tmp_plate" 
                               type="text" 
                               ng-model="tmp_plate"
                               placeholder="placa"/>
                    </div>
                    <div class="form-field">
                        <input id="tmp_brand" 
                               type="text" 
                               ng-model="tmp_brand" 
                               placeholder="marca" />
                    </div>
                    <div class="form-field">

                        <input id="tmp_model" 
                               type="text" 
                               ng-model="tmp_model" 
                               placeholder="modelo" />
                    </div>
                    <div class="form-field">
                        <label for="tmp_type">Tipo de Vehículo</label>
                        <select id="tmp_type" 
                                ng-model="tmp_type" 
                                placeholder="tipo">
                            <option ng-repeat="tipo in tipos" 
                                    value="{{tipo.value}}">{{tipo.label}}</option>
                        </select>
                    </div>
                    <button type="button" 
                            ng-click="addRow()">
                        Añadir Vehículo
                    </button>
                </div>
                <div id="grid1" ui-grid="gridOpts" class="edssn-signup-vehicles-grid"></div>

            </fieldset>

            <button type="submit" 
                    class="">
                Crear Usuario
            </button>
            <a class="new-user-link" 
               href="/#/login">
                ¿ya tienes un usuario?
            </a>
        </form>
    </div>
</div>
