<nav class="edssn-main-menu navbar navbar-inverse navbar-fixed-top">
    <ul class="nav navbar-nav" ng-cloak>
        <!-- available to all visitors -->
        <li class="edssn-menu-link"><a href="/#/">Inicio</a></li>
        <li class="edssn-menu-link"><a href="/#/products">Productos</a></li>
        <li class="edssn-menu-link"><a href="/#/awards">Premios</a></li>
        <li class="edssn-menu-link"><a href="/#/about-us">Acerca de nosotros</a></li>

        <!-- only available to anonymous users -->
        <li class="edssn-menu-link"
            ng-hide="currentUser"
            ng-cloak>
            <a href="/#/signup">Regístrate</a>
        </li>
        <li class="edssn-menu-link"
            ng-hide="currentUser"
            ng-cloak>
            <a href="/#/login">Iniciar Sesión</a>
        </li>

        <!-- only available to logged in users -->
        <li class="edssn-menu-link"
            ng-if="isAuthorized(userRoles.admin)"
            ng-cloak>
            <a href="/#/customers">Clientes</a>
        </li>
        <li class="edssn-menu-link"
            ng-if="isAuthorized(userRoles.admin)"
            ng-cloak>
            <a href="/#/award-list">Adm. Premios</a>
        </li>
        <li class="edssn-menu-link"
            ng-if="isAuthorized(userRoles.admin)"
            ng-cloak>
            <a href="/#/promotion-code-list">Cupones</a>
        </li>
        <li class="edssn-menu-link"
            ng-if="isAuthorized(userRoles.customer)"
            ng-cloak>
            <a href="/#/account">Mi Cuenta ({{currentUser.username}})</a>
        </li>
        <li class="edssn-menu-link"
            ng-if="isAuthorized(userRoles.admin)"
            ng-cloak>
            <a href="/#/">({{currentUser.username}})</a>
        </li>
        <li class="edssn-menu-link"
            ng-if="currentUser"
            ng-cloak>
            <a href class="" ng-click="logout()">Cerrar Sesión</a>
        </li>
    </ul>
</nav>