<nav class="edssn-main-menu navbar navbar-inverse navbar-fixed-top">
    <ul class="nav navbar-nav">
        <li class=""><a href="/#/">Inicio</a></li>        
        <li ng-hide="loggedInUser" 
            ng-cloak>
            <a href="/#/signup" >Regístrate</a>
        </li>
        <li ng-hide="loggedInUser" 
            ng-cloak>
            <a href="/#/login" >Iniciar Sesión</a>
        </li>

        <li ng-show="loggedInUser" 
            allowed="ADMIN" 
            ng-if="loggedInUser"
            ng-cloak>
            <a href="/#/users" >Administrar Usuarios</a>
        </li>
        <li ng-show="loggedInUser" 
            ng-cloak>
            <a href="#/account" >{{loggedInUser.fullName}} ({{loggedInUser.username}})</a>
        </li>
        <li ng-show="loggedInUser" 
            ng-cloak>
            <a href class="" ng-click="logout()">Cerrar Sesión</a>
        </li>
    </ul>
</nav>